body{
    background-image: url("../media/imagem/fundo.jpg");
    
}
h1{
    color: rgb(250, 245, 245); /* color é definacao de cor no html*/
}
h2{
    color: rgb(243, 6, 6);
}
h3{
    color: rgb(226, 235, 238);
}

p{
    color: rgb(226, 235, 238);
}

a{
    color: rgb(243, 243, 245);
    border: 2px solid black;
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    border-radius: 25px;
}

time{
    color: rgb(226, 235, 238);
}
/* CLASS */

.texto{ /* . é para classe */
    color: rgb(32, 152, 199);
    border: solid 5px black;
    border-radius: 15px;
    padding: 20px;
    margin: 35px;
    margin-top: 10px;
}

